.title {
	font-weight: bold;
	font-size: 50px;
}
button{
    line-height: 150px;
    width: 150px;
}
<div class="igCover">
<a target="_blank" href="#"> <img src="../img/다운로드.jpeg" width="600"
height="400">
</a>
